body{
  background-color:white;
}

.header{
  font-family:Trajan Pro;
  font-size:20px;
  letter-spacing:8px;
  text-align:center;
  color:white;
  background-color:black;
  width:100%;
  top:0%;
  position:fixed
}
